* {
  margin: 0;
  padding: 0;
}
.a{
  width:100%;
  height:100%;
  position: fixed;
  display:flex;
  align-items: center;
  justify-content: center;
}

.b{
  position: relative;
  margin:auto;
  
}

.e{
  height:100%;
  width:100%;
  position: absolute;
  }
.c{
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}
.d{
  height: 100%;
  float: right;
  display: flex;
  position: relative;
}
#pdf-render{
/*  height:700;*/
}
.h{
  position: absolute; 
}
.i{
 align-self: center;
}
.btn {
  border-radius: 50%;
  background-color: #000000;
  border:  2px solid white;
  outline: none;
  cursor: pointer;
  padding: .8rem 1.33rem;
  opacity: .3;
}

.btn:hover {
  opacity: 0.5;
}
.fas{
  color: #ffffff;
}
.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
